.profilefeedback {
	width: 500px;
	height: 56px;
	display: flex;
	align-items: center;
	gap: 10px;
	/* border: 1px solid black; */
}
.avatarwrapper {
	position: relative;
	width: 40px;
	height: 40px;
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 100%;
}

.avatar {
	position: absolute;
	top: -20px;
	width: 180%;
	/* border: 1px solid black; */
}