* {
	margin: 0;
	box-sizing: border-box;
}
body {
  margin: 0;
	box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root, html, body {
	height: 100vh;
	width: 100vw;
}

@font-face {
	font-family: "MontserratAlternatesBlack";
	src: local("MontserratAlternatesBlack"),
	url("./fonts/MontserratAlternates-Black.ttf") format("truetype");
}

@font-face {
	font-family: "MontserratAlternatesRegular";
	src: local("MontserratAlternatesRegular"),
	url("./fonts/MontserratAlternates-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "MontserratAlternatesSemiBold";
	src: local("MontserratAlternatesSemiBold"),
	url("./fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "MontserratAlternatesBold";
	src: local("MontserratAlternatesBold"),
	url("./fonts/MontserratAlternates-Bold.ttf") format("truetype");
}
