.title {
	font-size: 60px;
	width: 835px;
	font-family: MontserratAlternatesBold;
	margin: auto;
	letter-spacing: -2%;
	text-align: center;
}

.svg{
	position: absolute;
	top: -180px;
	left: 1040px;
}

.h5 {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	font-family: MontserratAlternatesRegular;
	letter-spacing: -2%;
	text-align: center;
}

.grid {
	padding: 40px 0;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	flex-wrap: wrap;
}

.button {
	margin: auto;
	width: 150px;
	height: 60px;
}